body {
  font-family: sans-serif;
  background: #f2f2f2;
  text-align: center;
  padding: 50px;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: inline-block;
}

a.button {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 20px;
  background-color: #bf42f4;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}

a.button:hover {
  background-color: #a23ace;
}

a.secondary {
  background-color: #6834a8;
}

a.secondary:hover {
  background-color: #8344d1;
}